---
import BaseLayout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
const postDate = new Date(frontmatter.createdAt);
frontmatter.createdAt = postDate.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
---
<BaseLayout pageTitle="Notes">
<div class="blog-date">{frontmatter.createdAt}</div>
<div class="blog-description">{frontmatter.description}</div>
<div class="blog-content">
<img src={frontmatter.heroImage} alt={frontmatter.title} />
<h1>{frontmatter.title}</h1>
<slot />
</div>
</BaseLayout>
