---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectLink from '../components/ProjectLink.astro';

const { frontmatter } = Astro.props;
const postDate = new Date(frontmatter.createdAt);
frontmatter.createdAt = postDate.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
const isProject = frontmatter.project === true;
---
<BaseLayout pageTitle={isProject === true ? 'Projects' : 'Notes'}>
  <div class="blog-header">
    <div class="blog-title"><h1>{frontmatter.title}</h1></div>
    <div class="blog-description">{frontmatter.description}</div>
    <!-- <div class="blog-date">{frontmatter.createdAt}</div>-->
    <img class="blog-hero-image" src={frontmatter.heroImage} alt={frontmatter.title} />
  </div>
<div class="blog-content">
  <h1>{frontmatter.title}
     {frontmatter.links && Object.keys(frontmatter.links).map((key) => (
        <ProjectLink type={key} url={frontmatter.links[key]} />
      ))}
  </h1>
<slot />
</div>
</BaseLayout>
